<!-- CSS -->

color              /* text color */
background-color   /* background */
font-size
font-family

margin             /* outer space */
padding            /* inner space */

border
width / height

display            /* block, inline, flex */
position           /* static, relative, absolute */

flexbox            /* layout system */
grid               /* advanced layout */

align-items
justify-content

overflow
z-index

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
